<h1>Tabler Icons Sample App</h1>

<fieldset>
  <legend>camera</legend>
  <tabler-icon name="camera"></tabler-icon>
</fieldset>

<fieldset>
  <legend>camera-filled</legend>
  <tabler-icon name="camera-filled"></tabler-icon>
</fieldset>

<fieldset>
  <legend>camera (style, big)</legend>
  <tabler-icon name="camera" style="height: 60px; width: 60px"></tabler-icon>
</fieldset>

<fieldset>
  <legend>heart (style, red)</legend>
  <tabler-icon name="heart" style="color: red"></tabler-icon>
</fieldset>

<fieldset>
  <legend>heart (style, fill red)</legend>
  <tabler-icon name="heart" style="fill: red"></tabler-icon>
</fieldset>

<fieldset>
  <legend>heart-filled (style, red)</legend>
  <tabler-icon name="heart-filled" style="color: red"></tabler-icon>
</fieldset>

<fieldset>
  <legend>heart (style, thin)</legend>
  <tabler-icon name="heart" style="stroke-width: 1px"></tabler-icon>
</fieldset>

<fieldset>
  <legend>brand-github (class, blue)</legend>
  <tabler-icon name="brand-github" class="blue"></tabler-icon>
</fieldset>

<app-standalone></app-standalone>
