<h1>Tabler Icons Sample App</h1>

<fieldset>
  <legend>camera</legend>
  <i-tabler name="camera"></i-tabler>
</fieldset>

<fieldset>
  <legend>camera (style, big)</legend>
  <i-tabler name="camera" style="height: 60px; width: 60px;"></i-tabler>
</fieldset>

<fieldset>
  <legend>heart (style, red)</legend>
  <i-tabler name="heart" style="color: red;"></i-tabler>
</fieldset>

<fieldset>
  <legend>heart (style, fill red)</legend>
  <i-tabler name="heart" style="fill: red;"></i-tabler>
</fieldset>

<fieldset>
  <legend>heart (style, thin)</legend>
  <i-tabler name="heart" style="stroke-width: 1px;"></i-tabler>
</fieldset>

<fieldset>
  <legend>brand-github (class, blue)</legend>
  <i-tabler name="brand-github" class="blue"></i-tabler>
</fieldset>
